JAR_PATH=PROJECT_JAR_DIR

TPCH_PATH=TPCH_PROJECT_DIR
TPCH_EXTRA_INFO=ADDITIONAL_DATA_DIR_INSIDE:/scripts/additional_data/tpch
TPCDS_PATH=ADDITIONAL_DATA_DIR_INSIDE:/scripts/additional_data/tpcds
DB_UTILITIES=PROJECT_DIR
DATA_DB=DATA_OUTPUT

SPARK_HOME=SPARK_DIR
SPARK_LOCAL_DIR=SPARK_SHUFFLE_DIR
