SCALES="1"
TPCH_PARALLELISM=CPU_CORES
TPCDS_PARALLELISM=CPU_CORES
WITH_HEADERS=FOR_CSV
OVERWRITE_TBL_DATA=
OVERWRITE_PARQUET_DATA=
PARQUET_PARTITIONS=
ENABLE_PROFILING=

# Params for benchmarking
BENCHMARK=QueryTestSQL
PARQUET_DIR=
BENCHMARK_ARGS=
